@charset "utf-8";

body,h2,header,ul,li,a,h3,nav,p,strong,span,button{margin: 0; padding: 0;}

body{max-width:1920px; height: 100vh;}
ul{list-style:none;}
a{text-decoration: none;}
img{display:block;}
#main_header{ display:flex; justify-content: space-between; 
    position:absolute; width:100%; height:80px;
    left:50%; transform: translateX(-50%); max-width: 1200px; 
    top:0px;
}
#main_header>h2 a{
    display:flex; color:#151515; gap:5px;
 }
#main_header>nav>ul{
    display:flex; gap:15px;
    align-content:center; gap:30px;
}
#main_header>nav>ul a{color:#fff;}
#main_header>.side_nav>ul{
    display:flex; gap:10px;
}

#main_header>.side_nav>ul>.search{
    background:url("images/Search.png") no-repeat center center;
        
}
#main_header>.side_nav>ul>.lang{
    background:url("images/Geography.png") no-repeat center center;
    
}
#main_visual{ /*배경 자체가 별로라 다른 사진 사용할 것*/
    width:100%; height:947px;
    background:url("images/background.jfif") no-repeat center center;
    background-size:cover;
}

#main_visual>p,span{position:absolute; color:#fff; 
    left:50%; transform: translateX(-20%); max-width: 1200px; 
    
    }
#main_visual>p{font-size:50px; font-weight: 700;margin-top:20%; }
#main_visual>span{font-size:30px; margin-top:25%;}

#main_visual>.innerbox{
    position:absolute; width:100%; height: 160px; 
    left:50%; transform:translateX(-50%); max-width: 1200px;
    display: flex; gap:30px; top:80%;
}

#main_visual>.innerbox> div{
    background-color:#F8EEFF; border:0px;
    width: 370px; height: 140px; border-radius: 30px;
}

#main_visual>.innerbox>div>h3{font-size:16px; margin-left:15px; margin-top:10px;}
#main_visual>.innerbox>div>strong{font-size:20px; margin-left: 15px;display:block; border-bottom: 1px solid #333;}
#main_visual>.innerbox>div>p {font-size:12px; letter-spacing: 1px; 
    font-weight: bold; margin-top:10px; margin-left:12px;}
#first_content{
    background-color:rgb(171, 217, 255 , 0.3);
    width: 100%; height:947px;
}
#first_content>h2{
    padding-top:50px;
   position:relative; width: 100%;
   height:38px; left:50%; transform:translateX(-50%); max-width: 1200px;
}

#first_content>.innerbox{
   position:relative; width: 100%;
   height:400px; left:50%; transform:translateX(-50%); max-width: 1250px;
   top:20%; display:flex; flex-wrap:wrap; gap:20px;
}
#first_content>.innerbox>div{
    width:275px; height:200px; background:#fff; border:1px solid #333;
    border-radius:20px; line-height:25px;
    padding-top:10px; padding-left:10px;
}
#first_content>.innerbox>div>h3{
    font-size:20px;
}
#first_content>.innerbox>div>strong{
    color:#838383; font-weight: 200; font-size:12px;
}
#first_content>.innerbox>div>.gps{
    font-size:12px;
    padding-left:18px;background:url("images/location.png") no-repeat left center;
}
#first_content>.innerbox>div>.call{
    font-size:12px; padding-left:18px;
    background:url("images/call.png") no-repeat left center;
}
#first_content>.innerbox>div>.more{
    font-size:12px;
    display:block; width:120px; height:15px;
    color:#333; background:url("images/Forward.png") no-repeat right center;   
}
/*first-section 에서 카드 8개에 js통해서 효과 넣기( hotel 참고)
 
*/
#second_content>h2{
    padding-top:50px;
    position:relative; width: 100%;
    height:38px; left:17%; max-width: 200px;
}
#second_content>h2>.plus{
    z-index: -9999px;
    background:url("images/typcn_plus.png") no-repeat right;
}

#second_content>.innerbox{
    position:relative; width: 100%;
   height:400px; left:50%; transform:translateX(-48%); max-width: 1250px;
   top:10%; display:flex; flex-wrap:wrap; gap:20px;
}
#second_content>.innerbox>.kospi , .kosdaq ,.up{
    width: 370px; height: 323px;
    border:1px solid #333; border-radius: 20px;
}
#second_content>.innerbox>h3 ,.red ,.blue{
    font-size:20px;
}
#second_content>.innerbox>div>h3{margin-left:10px; margin-top:10px;}
#second_content>.innerbox>div>.red>strong{color:#FF2E2E;}
#second_content>.innerbox>div>.blue>strong{color:#2DA7FF;}
#second_content>.innerbox>div>.red{
    width: 300px; height:100px; margin:0 auto; padding-top:10px; line-height: 100px;
    display:flex; justify-content: space-between;
    border-bottom:1px solid #B4B4B4;
}
#second_content>.innerbox>div>.red>p{
    background:url("images/Polygon\ 1.png") no-repeat left center;
    padding-left:20px;
}
#second_content>.innerbox>div>.blue{
    width: 300px; height:100px; margin:0 auto; padding-top:10px; line-height: 100px;
    display:flex; justify-content: space-between;
    border-bottom:1px solid #B4B4B4;
}
#second_content>.innerbox>div>.blue>p{
    background:url("images/Polygon\ 3.png") no-repeat left center;
    padding-left:20px;
}
#second_content>.innerbox>div>ul {
    width: 300px; height: 120px; 
    padding-top:10px; padding-left:30px; 
}
#second_content>.innerbox>div>ul>li{
    display:flex; justify-content: space-between;
    font-weight: bold; row-gap: 20px; 
}

#third_content{
    width: 100%; height: 1046px;
    background: linear-gradient(37deg,#B1D3A1,#B0CFCA);
}
#third_content>.innerbox{
    width: 100%; height: 600px; max-width: 1250px;
    margin: 0 auto; display:grid; 
}
/*------------------------------------------------------*/
.sub{display:none;}
.mobile_menu{display:none;}
.moblie_sub{display:none;}
.more_menu{display:none;}